name: CI

on:
  push:
      branches: [ main ]

jobs: 
  integrationTests:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install &
      #- run: npx newman tests/psychology_stats_integration.json
     # - run: npx newman tests/psychology_stats_integration_D01.json
      - run: npx newman tests/psychology_stats_integration_v2.json